services:
  opensearch_fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/pranavnbapat/opensearch_fastapi:latest
    container_name: opensearch_fastapi
    restart: always
    env_file:
      - .env
    ports:
      - "10000:10000"
    depends_on:
      - opensearch_fastapi_ollama
    volumes:
      - ./models_cache:/root/.cache/huggingface/transformers

  opensearch_fastapi_ollama:
    image: ollama/ollama:latest
    container_name: opensearch_fastapi_ollama
    restart: always
    mem_limit: 6g
    cpus: "2.0"
    env_file:
      - .env
    volumes:
      - ./ollama_data:/root/.ollama
      - ./ollama-entrypoint.sh:/ollama-entrypoint.sh:ro
    entrypoint: ["/bin/sh", "/ollama-entrypoint.sh"]

